/*reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--black);
}


/*reset end*/

/* global */
:root {
  --orange: #FF6600;
  --black: #1c1c1c;
  --form-background-color: #F5F8FA;
  --form-text-color: #657786;
  --twitter-post-text-color-grey: #9197A3;
  --button-disabled-color: #f59453;
  --button-hover-color: #ff3c01;
  --border-light-grey: #E6ECF0;
  --card-body-grey: #F6F7F8;
}

html {
  font-size: 16px;
  height: 100%;
  color: var(--black);
}

body, #alphitter {
  height: 100%;

}




/* 設定區塊寬度一致並置中 */
.container {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto 0 auto;
  height: 100%;
}

/* input */
input {
  height: 3.125rem;
  border: 0;
  border-bottom: var(--form-text-color) 2px solid;
  border-radius: 0.25rem;
  background-color: var(--form-background-color);
  color: var(--form-text-color);
  padding-left: 4.375rem;
}
.input-title {
  position: absolute;
  color: var(--form-text-color);
  font-size: .9375rem;
  font-weight: 500;
}

/* 共用按鈕樣式 */
.action {
  color: white;
  background: var(--orange);
  border-radius: 3.125rem;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-width: 0px; 
}
.action:hover {
  background: var(--button-hover-color);
}
.action:disabled {
  background: var(--button-disabled-color);
}

.button-text-big {
  font-size: 1.125rem;
}
.button-text-small {
  font-size: 0.9375rem;
}

/* .tweet-cards{
  height: 100%;
} */

.center-area {
  margin-left: 210px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.right-area {
  border-left: 1px solid var(--border-light-grey);
}
.left-area {
  border-right: 1px solid var(--border-light-grey);
}

/*** scrollbar ***/
 /* width */
 ::-webkit-scrollbar {
  width: 0;
}


.button-none{
  background-color: transparent;
  border: none;
  outline: none;
}

.button-x{
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--orange)
}
.button-transparent {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: 50%;
  color: var(--orange);
  padding: 5px;
}
.button-transparent-active {
  outline: none;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 50%;
  color: var(--orange);
  padding: 5px;
}
.button-transparent img, .button-transparent-active img {
  width: 30px;
  height: 30px;

}

/* * {
  border: black 1px solid;
}  */